#show_arrow
#show_result
p 友達のところまで
#Friend
p 方位
#heading
p 正確さ
#headingAccuracy
p AEL
#ael
p 矢印
#arrowp
form
  / button type="button" onclick="positionDetect(0)"
  /   |更新を止める
button#test-button
  |部屋を作る
